:root {
  --status-idea-color: light-dark(#e8c24f, #b89336);
  --status-funding-color: light-dark(#f28080, #b85c5c);
  --status-wip-color: light-dark(#3a72aa, #4679a4);
  --status-completed-color: light-dark(#70af71, #548c6a);
}
