---
import Layout from "../layouts/Layout.astro";
import Button from "../components/ui/Button.astro";
import MaskIcon from "@/components/icons/MaskIcon.astro";
import NavCard from "@/components/ui/NavCard.astro";
import { icons } from "@/utils/icons";
---

<Layout>
  <div class="hero">
    <div class="content">
      <h1>Community Crowdfunding System</h1>
      <p>
        Monero is a decentralized, community driven project. The CCS is a way
        for the community to fund development and other initiatives that benefit
        the Monero ecosystem.
      </p>
      <div class="buttons">
        <Button variant="primary" href="/explorer" class="hero-button"
        >Explore</Button>
        <Button variant="secondary" href="/about" class="hero-button"
        >About</Button>
      </div>
    </div>
    <div class="image">
      <img
        src="/assets/hero-image.avif"
        alt="Some pretty img here"
      />
    </div>
  </div>

  <section data-variant="centered">
    <h2>View Proposals</h2>
    <nav class="explore-cards">
      <ul> 
        <NavCard variant="idea" class="card"/>
        <NavCard variant="funding-required" class="card"/>
        <NavCard variant="work-in-progress" class="card"/>
        <NavCard variant="completed" class="card"/>
      </ul>
    </nav>
  </section>
</Layout>

<style>
  h1 {
    font-size: var(--font-size-4xl);
    color: var(--monero-orange);
    margin-bottom: 0;
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    align-items: center;
    gap: var(--space-2xl);

    .content {
      display: flex;
      flex-direction: column;
      gap: var(--space-sm);

      p {
        font-size: var(--font-size-lg);
        color: var(--paragraph-subtitle);
        line-height: var(--line-height-body);
        max-width: 45ch;
      }
    }

    .buttons {
      display: flex;
      gap: var(--space-md);

      & .hero-button {
        padding: 1em 2em;
      }
    }
  }

  section[data-variant="centered"] {
    text-align: center;
    margin: 0 auto;

    h2 {
      margin-top: 0;
      margin-bottom: var(--space-xl);
    }
  }

  .explore-cards ul {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 30em));
    justify-content: center;
    gap: var(--space-md);
  }

  @media (width <= 900px) {
    .explore-cards {
      grid-template-columns: 1fr;
    }
  }
</style>
